In [1]:
#creating a tuple

In [2]:
tup=(1,2,3,'string')

In [3]:
print(type(tup))

<class 'tuple'>

In [4]:
print(tup)

(1, 2, 3, 'string')

In [5]:
#accessing tuple

In [6]:
for element in tup:
    print(element)

1
2
3
string

In [7]:
#appending elements

In [8]:
t=(10,20,40,50)

In [9]:
t=t+(30,50,97)#concatenate

In [10]:
print(t)

(10, 20, 40, 50, 30, 50, 97)

In [11]:
#immutable tuple

In [12]:
t1=(10,20,40,50)

In [13]:
t1[0]='strings'

TypeError: 'tuple' object does not support item assignment

In [14]:
#slicing in tuples

In [16]:
print(t1[:2])

(10, 20)

In [17]:
print(t1[1:3])

(20, 40)

In [18]:
#deleting a tuple

In [19]:
del t1

In [20]:
print(t1)

NameError: name 't1' is not defined

In [21]:
#other functions(len,tuple(),count(n))

In [22]:
tupl=(10,20,30,40,50,60)

In [23]:
print(len(tupl))

6

In [24]:
lst=tuple([11,22,33])

In [25]:
print(type(lst))

<class 'tuple'>

In [26]:
print(lst)

(11, 22, 33)

In [27]:
t=(10,20,40,50,50,52,40)

In [29]:
print(t.count(40))

2